.html {
    font-size: 16px;
}

/*------------------HEADER-------------------*/
/*Barra General*/
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 4%;
    height: 4em;
    border-bottom: 0.063em solid var(--color-secundario);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*Logo de la pagina*/
.barra-logo {
    height: 100%;
    width: 10%;
}

.barra-logo a {
    height: 100%;
    display: flex;
    align-items: center;
}

.barra-logo img {
    height: 100%;
    width: auto;
    transition: all 0.3s ease;
}

.barra-logo img:hover {
    transform: scale(1.05);
}

/*Barra de busqueda*/
.barra-buscador {
    display: flex;
    width: 40%;
    height: 65%;
}

.barra-buscador form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    height: 100%;
    align-items: center;
    background: var(--color-secundario);
    border-radius: 50px;
}

.barra-buscador form input {
    flex: 1;
    background-color: transparent;
    padding: 0 0.1em;
    border: none;
    color: #1A1A18;
    font-size: 0.8em;
    outline: none;

}

input::placeholder {
    color: #1A1A18;
    font-size: 0.8em;
    opacity: 0.7;
}

/*Boton de busqueda*/
.barra-buscador button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-principal);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 50px;
    height: 90%;
    width: 3em;
    padding: 0;
}

.barra-buscador button:hover {
    transform: scale(1.15);
    background: #0f2566;
}

.barra-buscador button i {
    color: white;
    font-size: 1.2em;
}

/*Carrito*/
.buscador-carrito {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.buscador-carrito a {
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    color: white;
    position: relative;
}

.buscador-carrito a:hover {
    background-color: var(--color-secundario);
}

.buscador-carrito a i {
    font-size: 1em;
}

.buscador-carrito a span {
    position: absolute;
    display: flex;
    font-weight: bold;
    top: 15%;
    left: 70%;
    font-size: 0.8em;
    color: red;

}

/*-------------------------------------------*/

/*------------------NAV-------------------*/
.navbar {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 0.063em solid var(--color-secundario);
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
    width: 100%;
    height: 100%;

}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

/*-------------------------------------------*/

/*------------------FOOTER-------------------*/
/*Pie de pagina general*/
.pie-pagina {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5% 3%;
    background-color: black;
    border-top: 0.063em solid var(--color-secundario);
    border-bottom: 0.063em solid var(--color-secundario);
    align-items: flex-start;
}

.pie-pagina ul {
    padding: 0;
}

/*Pier de pagina superior*/
.pie-pagina-contenido {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 85%;
}

/*Nosotros*/
.pie-pagina-nosotros {
    width: 15%;
    height: 100%;
}

.pie-pagina-nosotros h4 {
    width: 100%;
    height: 10%;
    font-size: 100%;
}

.pie-pagina-nosotros-miembros {
    width: 100%;
    margin-top: 3%;
    padding-top: 8%;
    border-top: 0.063em solid #e7c50c;
    height: 85%;
}

.pie-pagina-nosotros-miembros ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    gap: 0.5em;

}

.pie-pagina-nosotros-miembros ul li {
    display: flex;
    width: 100%;
    height: 25%;
    align-items: flex-start;
    font-size: 0.8em;
    gap: 5%;
}

.pie-pagina-nosotros-miembros ul li i {
    display: flex;
    align-items: center;
    height: 100%;
}

/*Menu*/
.pie-pagina-navegacion {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.pie-pagina-navegacion h4 {
    width: 100%;
    height: 20%;
    font-size: 0.8em;
}

.pie-pagina-navegacion-soporte,
.pie-pagina-navegacion-legal {
    width: 100%;
    height: 50%;
}

.pie-pagina-navegacion-soporte ul,
.pie-pagina-navegacion-legal ul {
    width: 100%;
    height: 80%;
    border-top: 0.063em solid #e7c50c;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 8%;

}

.pie-pagina-navegacion-soporte ul li,
.pie-pagina-navegacion-legal ul li {
    width: 100%;
}

/*Redes Sociales*/
.pie-pagina-redes {
    width: 15%;
    height: 100%;
}

.pie-pagina-redes h4 {
    width: 100%;
    height: 10%;
    font-size: 100%;
}

.pie-pagina-redes-lista {
    width: 100%;
    margin-top: 3%;
    padding-top: 8%;
    border-top: 0.063em solid #e7c50c;
    height: 85%;
}

.pie-pagina-redes-lista ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;

}

.pie-pagina-redes-lista ul li {
    display: flex;
    width: 100%;
    height: 25%;
}

.pie-pagina-redes-lista ul li a,
.pie-pagina-redes-lista ul li a i {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: 110%;
    gap: 5%;

}

.pie-pagina-redes-lista ul li a {
    width: 100%;
}

.pie-pagina-redes-lista ul li a:hover {
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

/*-Footer Inferior-*/
.pie-pagina-inferior {
    width: 100%;
    height: 15%;
    margin-top: 1em;
    padding-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.063em solid var(--color-secundario);
}

.pie-pagina-inferior p {
    font-size: 75%;
}

/*--------------------------------------*/

/*---------------MAIN-------------------*/
/*---------------SECTION 1-------------------*/
.main__seccion1 {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    padding: 0 4em;
    height: auto;
}

/*Banner1*/
.main__seccion1__banner1 {
    display: flex;
}

/*Textos banner1*/
.main__seccion1-contenido {
    width: 50%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main__seccion1-info {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 1em 1em;
}

.main__seccion1-info h1 {
    line-height: 1.2;
    color: var(--color-principal);
    font-size: 2em;
    margin-bottom: 0.3em;
}

.main__seccion1-info p {
    line-height: 1.5;
    color: #666;
    font-size: 1.1em;
}

/*Imagen banner1*/
.main__seccion1-foto {
    display: flex;
    align-items: center;
}

.main__seccion1-foto img {
    object-fit: cover;
    width: 100%;
}

/*---------------SECTION 2-------------------*/
.main_seccion2 {
    width: 100%;
    padding: 5em 2em;
    background: var(--color-principal)
}

/*Titulo section2*/
.main_seccion2__texto {
    text-align: center;
    margin-bottom: 3em;
}

.main_seccion2__texto h2 {
    color: white;
    font-size: 2.8em;
    margin-bottom: 0.3em;
}

.main_seccion2__texto p {
    color: #b0adad;
    font-size: 1.5em;
    width: 25em;
    margin: 0 auto;
    line-height: 1.5;
}

/*Contenedor de la parte informativa de section 2*/
.main_seccion2__contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin: 0 5em;

}

/*Subcontenedor con info*/
.paso-card {
    background: white;
    padding: 2em;
    width: 40%;
    border-radius: 20px;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
}
.paso-card:hover {
    transform: translateY(-10px);
}
/*Nuemro de paso*/
.paso-card-numero {
    position: absolute;
    top: -0.7em;
    left: 45%;
    background: var(--color-secundario);
    color: var(--color-principal);
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

/*Contenido de la card*/
.paso-card-icono {
    margin-bottom: 0.4em;
    font-size: 3.5em;
    color: var(--color-principal);
}

.paso-contenido h3 {
    color: var(--color-principal);
    font-size: 1.5em;
    margin-bottom: 0.6em;
}

.paso-contenido p {
    color: #666;
    line-height: 1.5;
    font-size: 1em;
}


/*---------------SECTION 3-------------------*/
.main__seccion3 {
    width: 100%;
    padding: 2em 3em;
    background-color: white;
}

/*Titulo seccion 3*/
.main__seccion3__texto {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.main__seccion3__texto h2 {
    margin-bottom: 0.5em;
    color: var(--color-principal);
    font-size: 2.5em;
}

.main__seccion3__texto p {
    width: 75%;
    line-height: 1.5;
    color: #666;
    font-size: 1.1em;
}

/*Contenido de la seccion3*/
.main__seccion3__cards {
    display: flex;
    width: 100%;
    padding: 0 1em;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

/*Diseño de cada card*/
.curso-card {
    width: 21.875em;
    background-color: white;
    border-radius: 0.8em;
    overflow: hidden;
    border: 0.063em solid #e7c50c;
    transition: all 0.3s ease;

}

.curso-card:hover {
    transform: translateY(-8px);
}

.curso-card__imagen {
    height: 9em;
    width: 100%;
    overflow: hidden;
}

.curso-card__imagen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.curso-card__contenido {
    padding: 1.5em;
    color: #666;
    line-height: 1.5;
    font-size: 0.95em;
}

.curso-card__contenido h3 {
    font-size: 1.3em;
    margin-bottom: 0.8em;
    color: var(--color-principal);
    line-height: 1.3;
}

.curso-card__duracion {
    border-bottom: var(--color-secundario);
    padding: 1em;
    border-bottom: 1px solid var(--color-secundario);
}

.curso-card__duracion span {
    color: #666;
    font-size: 1em;
}

.curso-card__precio {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-principal);
    padding: 1em 1em;
}

.curso-card__botones {
    display: flex;
    padding: 0.5em;
    gap: 1em;
}

.curso-card__botones button,
.curso-card__botones a {
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 0.95em;
    border-radius: 8px;
    padding: 12px 20px;
    flex: 1;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}

.curso-card__botones button {
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

.curso-card__botones button:hover {
    background-color: var(--color-secundarioDegradado);
    transform: translateY(-2px);
}

.curso-card__botones a {
    background-color: transparent;
    border: 0.2em solid var(--color-principal);
    color: var(--color-principal);
}

.curso-card__botones a:hover {
    background: var(--color-principal);
    color: white;
}

/*---------------SECTION 4-------------------*/
.main__seccion4 {
    width: 100%;
    padding: 3.5em 2em;
    background: var(--color-principal);
}

/*Titulo seccion 4*/
.main__seccion4__texto {
    text-align: center;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
}

.main__seccion4__texto h2 {
    color: white;
    font-size: 2.3em;
    margin-bottom: 0.5em;
}

.main__seccion4__texto p {
    color: #d7d2d2;
    line-height: 1.6;
    font-size: 1.1em;
    margin: 0 auto;
    width: 50%;
}

/*Contenido seccion 4*/
.main__seccion4__metodos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5em;
    width: auto;
    margin: 0 2em;
}

/*Diseño de cada card*/
.metodos-carta {
    width: 30%;
    background: white;
    padding: 1.5em 1em;
    border-radius: 15px;
    text-align: center;
    transition: all 0.3s ease;
    border: 2px solid;
}

.metodos-carta:hover {
    transform: translateY(-5px);
    border-color: red;
}

.metodos-carta i {
    font-size: 3em;
    margin-bottom: 0.5em;
    display: block;
}

.metodos-carta span {
    font-weight: bold;
    color: black;
    font-size: 0.95em;
}

/*Colores para los iconos de las cards*/
.fa-cc-visa {
    color: #1a1f71;
}

.fa-cc-mastercard {
    color: #eb001b;
}

.fa-cc-amex {
    color: #2e77bc;
}

.fa-paypal {
    color: #ff6000;
}

.fa-wallet {
    color: #19bbe8;
}

.fa-building-columns {
    color: #1a1f71;
}

/*--------------------------------------*/