.html{
    font-size: 16px;
}
.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    height: 15%;
    border-bottom: 1px solid var(--color-secundario);
}
.barra-logo{
    height: 100%;
}
.barra-logo a{
    height: 100%;
    display: inline-block;
}
.barra-logo img{
    height: 100%;
    display: inline-block;
}
.barra-buscador{
    background-color: var(--color-secundario);
    display: flex;
    width: 40%; 
    height: 80%;
    border-radius: 9999px;
    align-items: center;
}
.barra-buscador form{
    width: 100%;
    display: flex;
    padding: 0 2%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.barra-buscador input , button{
    border: none;   
}
.barra-buscador input{
    flex:1; /* el basic = 0 , el grow = 1 y el shirnk 1*/
    background-color: transparent;
    min-width: 0;
    padding: 0;
    height: 100%;

}
.barra-buscador button{
    background-color: var(--color-principal);
    border-radius: 50%;
    width: 10%;
    height: 90%;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.barra-buscador button:hover{ 
    transform : scale(1.15);
}

input::placeholder {
    color: black;
}
form input:focus {
    outline: none;
}
.buscador-carrito{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
    position: relative;
}
.buscador-carrito i{
    font-size: 150%;
}
.buscador-carrito a{
    height: calc(100% - 1em);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.5s ease;
    color: var(--color-secundario);
}
.buscador-carrito a:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}
.buscador-carrito span{
    position: absolute;
    font-weight: bold;
    top: 10%;
    bottom: 0;
    left: 60%;
    right: 0;
}
/*-----------FOOTER---------*/
.pie-pagina{
    display: flex;
    padding: 1.5% 3%;
    justify-content: space-evenly;
    background-color: black;
    border-top: 1px solid var(--color-secundario);
    align-items: center;
}
.pie-pagina-nosotros{
    position: relative;
}
.pie-pagina-nosotros h3{
}
.pie-pagina-nosotros-miembros{
    margin-top: 3%;
    padding-top: 8%;
        border-top: 2px solid #e7c50c;

}
.pie-pagina-nosotros-miembros ul{
    list-style: none;
    padding: 0;
}
.pie-pagina-nosotros-miembros ul li{
    margin-top: 10%;
}

/*--------------------------*/

:root {
  --color-principal: #122f87;
  --color-principalDegradado: #090b35;
  --color-secundario: #e7c50c;
  --color-secundarioDegradado: #99840a;
  --color-texto: #f4f4f4;
}