*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.5em; 
    color: var(--color-texto);
    height: auto;
    background: radial-gradient(circle, var(--color-principal), var(--color-principalDegradado));
}

a{
    color: var(--color-texto);
}

header{
    font-size: 50%;
    height: 20em;
    border-bottom: 1px solid var(--color-secundario);
}

/* -------------------- RESET -------------------- */

/* -------------------- VARIABLES -------------------- */

:root {
  --color-principal: #122f87;
  --color-principalDegradado: #090b35;
  --color-secundario: #e7c50c;
  --color-secundarioDegradado: #99840a;
  --color-texto: #f4f4f4;
}
@media (max-width: 480px) {
    body{
        font-size: 70%;
    }
}


/* --- TABLETS ---*/
@media (min-width: 481px) and (max-width: 768px) {
    body{
        font-size: 90%;
    }
}
