
/* -------------------- RESET -------------------- */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-texto);
    height: 100vh;
    background: radial-gradient(circle, var(--color-principal), var(--color-principalDegradado));
}

a {
    color: var(--color-texto);
}

header {
    font-size: 50%;
    height: 15%;
    border-bottom: 1px solid var(--color-secundario);
}

footer {
    font-size: 50%;
    height: 15%;
    border-top: 1px solid var(--color-secundario);
}


/* -------------------- RESET -------------------- */

/* -------------------- VARIABLES -------------------- */

:root {
    --color-principal: #122f87;
    --color-principalDegradado: #090b35;
    --color-secundario: #e7c50c;
    --color-secundarioDegradado: #99840a;
    --color-texto: #f4f4f4;
}

/* -------------------- VARIABLES -------------------- */


/* -------------------- MEDIA QUERIES -------------------- */

/* --- CELUS ---*/
@media (max-width: 480px) {
    body{
        font-size: 70%;
    }
}


/* --- TABLETS ---*/
@media (min-width: 481px) and (max-width: 768px) {
    body{
        font-size: 90%;
    }
}

/* -------------------- MEDIA QUERIES -------------------- */
body {
  display: flex;
  justify-content: center;
  padding: 2em;
}
.calendar {
  background: #fff;
  border-radius: 1em;
  overflow: hidden;
  width: 90%;
  color: #000000;
}
.calendar_header {
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #e7c50c;
    color: white;
    border-radius: 15px;
}
.calendar_header-title {
    text-align: center;
}

.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
}

.calendar__weekdays span {
  padding: 0.5em 0;
}
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  gap: 0.3em;
  padding: 1em;
}
.calendar__day {
  border: 0.1em solid #e7c50c;
  border-radius: 15%;
  min-height: 7em;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  padding: 5%;
  font-size: 0.6em;
}
.calendar__day .empty {
  background: transparent;
  border: none;
}
.calendar_button{
    height: 2.5em;
    width: 3em;
    padding: 0.5em;
    border-radius: 2em;
    color: var(--color-texto);
    border-color: var(--color-secundarioDegradado);
    font-size: 85%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-principalDegradado);
}

.calendar__day.today h4 {
  background-color: var(--color-secundario);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-weight: bold;
}
