
.form-container {
  background-color: var(--color-principalDegradado);
  height: auto;
  width: 30em;
  padding: 2em;
  margin: auto;
  border-radius: 1em;
  position: relative;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
}
.back{
  margin: 0;
  position: absolute;
}
.botonBack {
  height: 3em;
  width: 3em;
  padding: 0.5em;
  border-radius: 2em;
  color: var(--color-secundario);
  background-color: var(--color-principalDegradado);
  border-color: var(--color-secundarioDegradado);
  font-size: 85%;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido {
  margin: 3em;
  height: auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"]{
  width: 100%;
  padding: 0.7em;
  margin: 0.5em 0;
  border: 0.1em solid var(--color-texto);
  border-radius: 4px;
}

.boton {
  height: 3em;
  width: 10em;
  padding: 0.5em;
  margin-top: 2em;
  border-radius: 2em;
  color: var(--color-secundario);
  background-color: var(--color-principalDegradado);
  border-color: var(--color-secundarioDegradado);
  font-size: 85%;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.boton:hover {
  background-color: var(--color-secundarioDegradado);
  cursor: pointer;
}